<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <link rel="stylesheet" type="text/css" href="../css/styles.css" media="all"/>
    <ui:composition template="userTemplate.xhtml">
        <ui:define name="title">Official Euroleague Fantasy Site</ui:define>
        <ui:define name="content">
            <h:form id="leagueForm" enctype="multipart/form-data">
                <div class="wrapper">
                    <div class="profile-left">

                        <br/>

                        <h4>Fantasy League</h4>
                    </div>
                    <div class="profile-right">

                        <div class="profile-info">
                            <div class="ui-g-12">
                                <h3>League Information</h3>
                            </div>
                            <div class="info-data">
                                <div class="data">
                                    <div class="ui-g-12" >
                                        <div class="ui-g-3">
                                            <p:outputLabel class="outputLabels" value="League Name"/>
                                        </div>
                                        <div class="ui-g-4">
                                            <p:inputText value="#{fantasyLeagueContr.fantasyLeagueBean.fantasyLeagueD.leagueName}"
                                                         />
                                        </div>
                                    </div>
                                </div>
                                <div class="data">
                                    <div class="ui-g-12">
                                        <div class="ui-g-3">
                                            <p:outputLabel class="outputLabels" value="Number Of Teams"/>
                                        </div>
                                        <div class="ui-g-4">
                                            <p:inputNumber maxValue="20" minValue="1" value="#{fantasyLeagueContr.fantasyLeagueBean.fantasyLeagueD.numberOfTeams}"
                                            />
                                        </div>
                                    </div>
                                </div>

                                <div class="data">
                                    <div class="ui-g-12">
                                        <div class="ui-g-3">
                                            <p:outputLabel class="outputLabels" value="League Type:"/>
                                        </div>
                                        <div class="ui-g-4">
                                           <h:selectOneMenu rendered="#{!userSessionBean.editMode}" id="gender" class="credentialInputDropdown" value="#{fantasyLeagueBean.fantasyLeagueD.leagueType}">
                                                <f:selectItem itemLabel="Select One" itemValue="" />
                                                <f:selectItems value="#{fantasyLeagueContr.fantasyLeagueBean.fantasyLeagueTypes}" />
                                            </h:selectOneMenu>

                                        </div>
                                    </div>
                                </div>

                                <div class="data">
                                    <div class="ui-g-12">
                                        <div class="ui-g-3">
                                            <p:outputLabel class="outputLabels" value="Password"/>
                                        </div>
                                        <div class="ui-g-4">
                                             <p:inputText rendered="#{!userSessionBean.editMode}"
                                                         value="#{fantasyLeagueContr.fantasyLeagueBean.fantasyLeagueD.leaguePassword}"
                                            />
                                        </div>
                                    </div>
                                </div>

                                <h:commandButton value="Create League" update="leagueForm" class="submit"
                                                 actionListener="#{fantasyLeagueContr.createFantasyLeague()}"/>


                            </div>
                        </div>


                    </div>
                </div>
            </h:form>
        </ui:define>
    </ui:composition>
</f:view>
</html>
