<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:p="http://primefaces.org/ui" xmlns:f="http://xmlns.jcp.org/jsf/core"
        lang="en">

<h:head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" media="screen" href="../css/styles.css" type="text/css"/>
    <link rel="stylesheet" media="print" href="../css/print.css" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="../css/style.css" media="all"/>

    <link rel="stylesheet" media="screen" href="css/styles.css" type="text/css"/>
    <link rel="stylesheet" media="print" href="css/print.css" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css" media="all"/>


</h:head>
<h:body>
    <h:form id="userNavForm">

        <p:menubar class="sticky">
            <p:menuitem value="EUROLEAGUE FANTASY" url="/userViews/welcomeUser.xhtml?faces-redirect = true" />

            <p:submenu class="profileTab" label="Welcome #{userSessionBean.username}" rendered="#{userSessionBean.loggedIn}" icon="pi pi-pencil">
                <p:menuitem value="Logout" action="#{loginController.logout}" update="userNavForm"  />
                <p:menuitem value="Edit profile" url="/userViews/userProfile.xhtml?faces-redirect = true" />
            </p:submenu>

            <f:facet name="options">
                <p:inputText style="margin:1px 10px 1px 1px;" placeholder="Search"/>
            </f:facet>
        </p:menubar>

<!--        <ul class="teamLogo">-->
<!--            <li><a href="#"><img class="headerIcon" alt="Olumpiakos Logo" src="img/teamLogos/alba-logo.ico"/></a></li>-->
<!--            <li><a href="#"><img class="headerIcon" alt="Barcelona Logo" src="img/teamLogos/barc-logo.ico"/></a></li>-->
<!--            <li><a href="#"><img class="headerIcon" alt="Baskonia Logo" src="img/teamLogos/bask-logo.ico"/></a></li>-->
<!--            <li><a href="#"><img class="headerIcon" alt="Bayern Logo" src="img/teamLogos/bay-logo.ico"/></a></li>-->
<!--            <li><a href="#"><img class="headerIcon" alt="Cska Logo" src="img/teamLogos/cska-logo.ico"/></a></li>-->
<!--            <li><a href="#"><img class="headerIcon" alt="Efes Logo" src="img/teamLogos/efes-logo.ico"/></a></li>-->
<!--            <li><a href="#"><img class="headerIcon" alt="Fenerbache Logo" src="img/teamLogos/fen-logo.ico"/></a></li>-->
<!--            <li><a href="#"><img class="headerIcon" alt="Khimki Logo" src="img/teamLogos/khi-logo.ico"/></a></li>-->
<!--            <li><a href="#"><img class="headerIcon" alt="Maccabi Logo" src="img/teamLogos/mac-logo.ico"/></a></li>-->
<!--            <li><a href="#"><img class="headerIcon" alt="Olumpiakos Logo" src="img/teamLogos/ol-logo.ico"/></a></li>-->
<!--            <li><a href="#"><img class="headerIcon" alt="Panathinaikos Logo" src="img/teamLogos/pan-logo.ico"/></a></li>-->
<!--            <li><a href="#"><img class="headerIcon" alt="Real Madrid Logo" src="img/teamLogos/real-logo.ico"/></a></li>-->
<!--            <li><a href="#"><img class="headerIcon" alt="Valencia Logo" src="img/teamLogos/val-logo.ico"/></a></li>-->
<!--            <li><a href="#"><img class="headerIcon" alt="Villerban Logo" src="img/teamLogos/vil-logo.ico"/></a></li>-->
<!--            <li><a href="#"><img class="headerIcon" alt="Zalgiris Logo" src="img/teamLogos/zalg-logo.ico"/></a></li>-->
<!--            <li><a href="#"><img class="headerIcon" alt="Zenit Logo" src="img/teamLogos/zenit-logo.ico"/></a></li>-->
<!--        </ul>-->



        <div>
            <div id="left">
                <p:feedReader value="https://rss.app/feeds/WsqheiBl64ir3OgR.xml" var="feed" rendered="false">
                    <a href="#{feed.link}" style="font-weight: bold; text-decoration: none; color: black" class="link">#{feed.title}</a>
                    <h:outputText value="#{feed.description.value}" escape="false"/>
                    <p:separator />
                    <f:facet name="error">
                        Something went wrong.
                    </f:facet>
                </p:feedReader>
            </div>
            <div id="content" class="left_content">

                <p:menubar>
                    <p:menuitem value="Profile" url="/userViews/userProfile.xhtml?faces-redirect = true"/>
                    <p:submenu label="Leagues" >
                        <p:menuitem value="My Leagues" url="#" />
                        <p:menuitem value="Create a League" url="#" />
                        <p:menuitem value="Overview" url="#" />
                    </p:submenu>

                    <p:submenu label="Players">
                        <p:menuitem value="Player List"  />
                        <p:menuitem value="League Leaders" url="#" />
                        <p:menuitem value="Injury Reports" url="#" />
                    </p:submenu>
                </p:menubar>
                <ui:insert name="content">Main Content</ui:insert>
            </div>
            <div id="bottom" class="bottom">
                <h:form>
                    <ui:insert name="bottom">
                        <p:outputLabel value="Copyright 2015 PlantPlaces.com"/>
                        <br/>
                        <h:link outcome="privacy" value="Privacy policy and terms of use"/>
                    </ui:insert>
                </h:form>
            </div>
            <div class="printonly">
                <p:outputLabel value="Printed from PlantPlaces.com"/>
            </div>

        </div>
    </h:form>
</h:body>
</html>