<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <link rel="stylesheet" type="text/css" href="../css/styles.css" media="all"/>
    <ui:composition template="userTemplate.xhtml">
        <ui:define name="title">Official Euroleague Fantasy Site</ui:define>
        <ui:define name="content">
            <h:form id="userForm" enctype="multipart/form-data">
                <div class="wrapper">
                    <div class="profile-left">
                        <p:graphicImage value="#{iconService.userImage}">
                            <f:param name="studentId" value="#{profileController.profileBean.user.userId}"/>
                        </p:graphicImage>
                        <p:fileUpload value="#{profileController.handleFileUpload}"
                                      allowTypes="/(\.|\/)(gif|jpe?g|png)$/"
                                      mode="advanced"
                                      auto="true"
                                      skinSimple="true"
                                      fileUploadListener="#{profileController.handleFileUpload}"
                        />



                    </div>
                    <div class="profile-right">

                        <div class="profile-info">
                            <div class="ui-g-12">
                                <h3>Personal Information</h3>
                            </div>
                            <div class="info-data">

                                <div class="data">
                                    <div class="ui-g-12">
                                        <div class="ui-g-3">
                                            <p:outputLabel class="outputLabels" value="Username:"/>
                                        </div>
                                        <div class="ui-g-4">
                                            <p:outputLabel class="outputLabels"
                                                           value="#{profileController.profileBean.user.userName}"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="data">
                                    <div class="ui-g-12">
                                        <div class="ui-g-3">
                                            <p:outputLabel class="outputLabels" value="Email:"/>
                                        </div>
                                        <div class="ui-g-4">
                                            <p:outputLabel class="outputLabels"
                                                           value="#{profileController.profileBean.user.email}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="data">
                                    <div class="ui-g-12">
                                        <div class="ui-g-3">
                                            <p:outputLabel class="outputLabels" value="Date Of Birth:"/>
                                        </div>
                                        <div class="ui-g-4">
                                            <p:outputLabel class="outputLabels"
                                                           value="#{profileController.profileBean.user.userInfo.dateOfBirth}"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="data">
                                    <div class="ui-g-12">
                                        <div class="ui-g-3">
                                            <p:outputLabel class="outputLabels" value="Gender:"/>
                                        </div>
                                        <div class="ui-g-4">
                                            <p:outputLabel class="outputLabels"
                                                           value="#{profileController.findGenderDescription()}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="profile-teams">
                            <div class="ui-g-12">
                                <p:dataTable var="fantasyTeam" value="#{profileController.profileBean.userTeams}">
                                    <p:column headerText="Name">
                                        <h:outputText value="#{fantasyTeam.teamName}"/>
                                    </p:column>

                                    <p:column headerText="League">
                                        <h:outputText value="#{fantasyTeam.fantasyLeague.leagueName}"/>
                                    </p:column>

                                    <p:column headerText="Ranking">
                                        <h:outputText value="Currently #{fantasyTeam.teamRanking}"/>
                                    </p:column>
                                </p:dataTable>
                            </div>
                        </div>


                    </div>
                </div>
            </h:form>
        </ui:define>
    </ui:composition>
</f:view>
</html>
