<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <link rel="stylesheet" type="text/css" href="../css/style.css" media="all"/>

    <ui:composition template="userTemplate.xhtml">
        <ui:define name="title">Official Euroleague Fantasy Site</ui:define>
        <ui:define name="content">
            <h:outputLabel value="Welcome User"/>
            <a href="#{request.contextPath}/userViews/createLeague.xhtml?faces-redirect = true">Create a League</a>
        </ui:define>
    </ui:composition>
</f:view>
</html>
