@CHARSET "ISO-8859-1";



#left {
    display:none;
}

#content {
    background-color:#FFFFFF;
    color:#000000;
    position:relative;

    padding:5px;
    margin-left: 5px;
    margin-bottom:5px;
    top:60px;

}

#bottom {
    display:none;
}


