
p  {
    border: 1px;
    padding: 30px;
    color: red;
    font-family: courier;
    font-size: 160%;
}
h2 {color: maroon; background: white;}
h3 {color: white; background: black;
    font: medium Helvetica;}

body {
    margin-top: 0px;
    background-color: #708090;
    z-index: 3;
    position: relative;
}
header{
    background-color: darkcyan;
}

.loginbox{
    width: 320px;
    height: 600px;
    background-color: black;
    color: #fff;
    margin-top:30%;
    left: 50%;
    position: relative;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    z-index: 4;
}

.registerBox{
    width: 70%;
    height: 650px;
    background-color: black;
    color: #fff;
    margin-top:30%;
    left: 50%;
    position: relative;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    z-index: 4;

}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.loginbox h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 20px;
}

.registerBox h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 20px;
}

.loginbox .credential{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.registerBox .credential{

    padding-left: 10px;
    width: 42%;
    font-weight: bold;
    display: inline-block;
    position: relative;
}

.loginbox .credentialInput{
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-bottom:1px solid #fff ;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.registerBox .credentialInput{
    margin-left: 10px;
    width: 42%;
    margin-bottom: 20px;
    border: none;
    border-bottom:1px solid #fff ;
    background: transparent;
    display: inline-block;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.registerBox  .credentialInputDropdown {
    margin-left: 10px;
    width: 35%;
    margin-bottom: 10px;
    height: 40px;
    position: relative;
}

.simpleText{
    color: #fff;
}

.submit{
    border: none;
    outline: none;
    height: 40px;
    width: 100%;
    background: #f23455;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.submit:hover{
    cursor: pointer;
    background: #ffc107;
    color: darkgrey;
}
.loginbox a:hover{
    color: #ffc107;
}

.registerBox a:hover{
    color: #ffc107;
}

.loginbox a{
    color: red;
}

.registerBox a{
    color: red;
}

.ui-message{
    height: 30px;
    width: 260px;
    color: red;
    font-size: 16px;
}
.ui-message span{
    height: 30px;
    width: 260px;
    color: red;
}

.ui-growl-message p {
    font: 16px "medium Helvetica";
    letter-spacing: -1px;
}


.nav {
    position: relative;
    margin-top: 70px;
    width: 100%;
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    z-index: 4;
}

li {
     float: right;
 }

.logoButton {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
    display: block;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.profileTab {
    float: right;
}



