@CHARSET "ISO-8859-1";

#top {
    margin-top: 0px;
    position:fixed;
    vertical-align: top;
    background-color:black;
    height:10px;
    width:100%;
    left:0;
    top:0;

}

#left {
    position:fixed;
    left: 4px;
    margin-top: 0px;
    width:400px;
    height:100%;
    background-color:lightblue;
    padding-left:1.5em;
    padding-right:1.5em;
    padding-top:5em;
    z-index: -1;
}

#content {
    margin-top: 4%;
    height: 100%;
    position:relative;
    margin-left: 30%;
    padding:5px;
    margin-bottom:80px;
}

#bottom {
    position:fixed;
    margin-left: 165px;
    padding:5px;
    bottom:0;
}

.printonly {
    display:none;
}

.inputData {
    background-color:#d6bd91;
}

.inputData input {
    margin-left: 9em;
}

.inputData label {
    position:absolute;
}


.header{
    width: 100%;
    height: 40px;
    display: block;
    margin-top: 30px;
    background-color: black;
}
.logo-header{
    margin-top: 30px;
    width: 100%;
    height: 60px;
    display: block;
    background-color: white;
}



.headerIcon{
    width: 26px;
    height: 26px;
    margin-top: 8px;

}

.headerIcon:hover{
    transform: scale(1.5);
}




.logo_container{
    height: 100%;
    display: table;
    float: left;
}

.logo_container h1{
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif, Courier, monospace;
    font-size: 32px;
}

.logo_container h1 span{
    font-weight: 800;
}



*{
    margin: 0;
    padding: 0;
}


.teamLogo{
    list-style-type: none;
    overflow: hidden;
    float: right;
    height: 70px;
    background-color: #333;
    width: 100%;
    position: fixed;
    top: 0;
    width: 100%;
}

.teamLogo li {
    float: left;
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    padding-right: 14px;
    padding-left: 14px;
    height: 100%;

}

.teamLogo li a{
    text-decoration: none;
    display: table-cell;
    vertical-align: middle;
    padding-right: 20px;
    padding-left: 20px;
    height: 100%;
    font-size: 14px;
    font-family: Arial;
    color: white;

}

.teamLogo li img{
    float: left;
}






.logo_container{
    float: left;
}


.inner_header{
    margin-top: 60px;
    width: 100%;
    height: 60px;
    display: block;
}


.sticky{
    z-index: 10;
    position: relative;
}


.active {
    background-color: #4CAF50;
}

.wrapper{
position: relative;
    top: 80%;
    left: 50%;
    transform: translate(-50%,0%);
    width: 100%;
    display: flex;
    box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
}

.wrapper .profile-left{
    width: 20%;
    padding: 30px 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    background: #919aa3;
}


.wrapper .profile-left img{
    margin-bottom:  10px;
    border-radius: 5px;
    width: 90%;
}

.wrapper .profile-left h4{
    margin-bottom:  10px;
}

.wrapper .profile-left p{
    font-size: 12px;
}







.wrapper .profile-right{
    width: 80%;
    padding: 30px 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    background: #919aa3;
}

.wrapper .profile-right .profile-info,
.wrapper .profile-right .profile-teams{
    margin-bottom: 25px;
}
.wrapper .profile-right .profile-info h3,
.wrapper .profile-right .profile-teams h3{
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    color: #353c4e;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.wrapper .profile-right .info-data,
.wrapper .profile-right .leagues-data{
    display: block;
    justify-content: space-between;
}
.wrapper .profile-right .info-data .data,
.wrapper .profile-right .leagues-data .data{
        width: 100%;
        height: 120%;

}
.wrapper .profile-right .info-data .data h4,
.wrapper .profile-right .leagues-data .data h4{
    color: #353c4e;
    margin-bottom: 5px;
}

.wrapper .profile-right .info-data .data .outputLabels,
.wrapper .profile-right .leagues-data .data .outputLabels{
    float: left;
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: 10px;
    color: #353c4e;
}

.line{
    width: 100%;
    height: 100%;
    float: left;
}

.ui-g div {
    background-color: #ededed;
    text-align: center;
    border: 1px solid #fafafa;
}