<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
<f:view>
    <link rel="stylesheet" type="text/css" href="css/style.css" media="all"/>
    <ui:composition template="template.xhtml">


        <ui:define name="title">Official Euroleague Fantasy Site</ui:define>
        <ui:define name="content">
            <h:body>
                <h:form id="bodyForm">
                    <div class="loginbox">
                        <!--                    <img src="img/avatar.png" alt="avatarImg" class="avatar"></img>-->
                        <h1>Login</h1>
                        <h:outputLabel for="loginUserName" class="credential" value="Username"/>
                        <h:inputText id="loginUserName" class="credentialInput" a:placeholder="Enter Username"
                                     value="#{loginBean.user.userName}"/>
                        <br></br>
                        <br></br>
                        <h:outputLabel for="loginPassword" value="Password" class="credential"/>
                        <h:inputSecret id="loginPassword" class="credentialInput" a:placeholder="Enter Password"
                                       value="#{loginBean.user.password}"/>
                        <div class="ui-message"><h:message for="loginUserName" id="loginUserMsg"/></div>
                        <br></br>
                        <br></br>
                        <h:commandButton value="Login" class="submit" action="#{loginController.login}"/>
                        <br></br>
                        <br></br>
                        <h:outputLabel value="New User?"></h:outputLabel>
                        <a href="#{request.contextPath}/register.xhtml?faces-redirect = true">Register</a>
                        <br/><br/>
                        <a href="#{request.contextPath}/register.xhtml?faces-redirect = true">Forgot Password?</a><br/><br/>
                    </div>
                </h:form>
            </h:body>
        </ui:define>
    </ui:composition>
</f:view>
</html>
