<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
<f:view>
    <link rel="stylesheet" type="text/css" href="css/style.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="css/styles.css" media="all"/>
    <h:body>
        <ui:composition template="template.xhtml">
            <ui:define name="content">

                <h:form id="registerForm" >
                    <p:growl id="growl" severity="info" showDetail="true" life="4000" />

                    <div class="registerBox">

                        <h:outputLabel class="credential" for="userName" value="Username"/>
                        <h:outputLabel for="email" class="credential" value="Email"/>
                        <br></br>
                        <h:inputText id="userName" a:placeholder="Enter username" class="credentialInput"
                                     value="#{registerBean.user.userName}"/>
                        <h:inputText id="email"
                                     a:placeholder="Enter email" class="credentialInput"
                                     value="#{registerBean.user.email}"/>
                        <div class="ui-message"><h:message for="email" id="emailMsg"/></div>
                        <div class="ui-message"><h:message for="userName" id="userNameMsg"/></div>


                        <h:outputLabel for="password" class="credential" value="Password"/>
                        <h:outputLabel for="repeatPassword" class="credential" value="Repeat Password"/>
                        <br></br>
                        <h:inputSecret id="password" a:placeholder="Enter password" class="credentialInput"
                                       value="#{registerBean.user.password}"/>
                        <h:inputSecret id="repeatPassword" a:placeholder="Repeat password" class="credentialInput"
                                       value="#{registerBean.repeatPaasword}"/>
                        <div class="ui-message"><h:message for="password" id="passwordMsg"/></div>
                        <div class="ui-message"><h:message for="repeatPassword" id="repeatPasswordMsg"/></div>



                        <h:outputLabel for="dateOfBirth" class="credential" value="Date Of Birth"/>
                        <h:outputLabel for="gender" class="credential" value="Gender"/>
                        <br></br>

                        <p:calendar id="dateOfBirth"
                                    converter="customConverter"
                                    class="credentialInput"
                                    pattern="dd/MM/yyyy"
                                    navigator="true"
                                    yearRange="1900:2017"
                                    showOn="button"
                                       value="#{registerBean.user.userInfo.dateOfBirth}">
                        </p:calendar>
                        <h:selectOneMenu id="gender" class="credentialInputDropdown" value="#{registerBean.user.userInfo.genderString}">
                            <f:selectItem itemLabel="Select One" itemValue="" />
                            <f:selectItems value="#{registerBean.genderEnums}" />
                        </h:selectOneMenu>
                        <div class="ui-message"><h:message for="dateOfBirth" id="dateOfBirthMsg"/></div>
                        <div class="ui-message"><h:message for="gender" id="genderMsg"/></div>


                        <h:outputLabel for="favouriteTeam" class="credential" value="Favourite Team"/>
                        <br></br>
                        <h:selectOneMenu id="favouriteTeam" class="credentialInputDropdown" value="#{registerBean.user.userInfo.favouriteTeam}">
                            <f:selectItem itemLabel="Select One" itemValue="" />
                            <f:selectItems value="#{registerBean.genderEnums}" />
                        </h:selectOneMenu>
                        <div class="ui-message"><h:message for="favouriteTeam" id="favouriteTeamMsg"/></div>


                    <h:commandButton value="Register" update="bodyForm" class="submit"
                                     actionListener="#{loginController.createNewUser()}"/>

                </div>

            </h:form>
        </ui:define>
    </ui:composition>
</h:body>
</f:view>
        </html>
